<html xmlns:n="http://typo3.org/ns/Nordkirche/NkcBase/ViewHelpers"
      xmlns:nkg="http://typo3.org/ns/Nordkirche/NkGoogleMap/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
        <f:if condition="{mapMarkers}">
            <f:then>
                <f:comment>
                    Default view with loaded markers
                </f:comment>
                <nkg:googleMap markers="{mapMarkers}" configuration="{center: settings.flexform.center, lon: settings.flexform.longitude, lat: settings.flexform.latitude, facets: facets, header: settings.flexform.header, header_layout: settings.flexform.header_layout, cssClass: 'wide'}" />
            </f:then>
            <f:else>
                <f:comment>
                    Async loading of markers
                </f:comment>
                <nkg:googleMap requestUri="{requestUri}" streamUri="{streamUri}" configuration="{center: settings.flexform.center, lon: settings.flexform.longitude, lat: settings.flexform.latitude, requestId: 'tx_nkcaddress_maplist[requestId]', facets: facets, header: settings.flexform.header, header_layout: settings.flexform.header_layout, cssClass: 'wide', pagination: 'tx_nkcaddress_maplist[page]'}" />
            </f:else>
        </f:if>
        <f:if condition="{settings.flexform.paginate.mode} > 1">
            <f:then>
                <f:comment>
					<f:for each="{mapItems}" as="mapItem" key="id">
						<f:switch expression="{mapItem->n:className()}">
							<f:case value="Institution">
								<f:render partial="Institution/Teaser.html" arguments="{institution: mapItem, settings: settings}" />
							</f:case>
							<f:case value="Person">
								<f:render partial="Person/Teaser.html" arguments="{person: mapItem, settings: settings}" />
							</f:case>
							<f:defaultCase>

							</f:defaultCase>
						</f:switch>
					</f:for>
					<f:render partial="Pagination" arguments="{_all}"></f:render>
                </f:comment>
            </f:then>
            <f:else>
                <div class="ajax-list-wrapper">
                    <div class="ajax-list">
                        <f:for each="{mapItems}" as="mapItem" key="id">
                            <f:switch expression="{mapItem->n:className()}">
                                <f:case value="Institution">
                                    <f:render partial="Institution/Teaser.html" arguments="{institution: mapItem, settings: settings}" />
                                </f:case>
                                <f:case value="Person">
                                    <f:render partial="Person/Teaser.html" arguments="{person: mapItem, settings: settings}" />
                                </f:case>
                                <f:defaultCase>

                                </f:defaultCase>
                            </f:switch>
                        </f:for>
                    </div>
                    <f:if condition="{settings.flexform.paginate.mode} == 1">

                        <f:if condition="{nextPage}">
                            <div class="ajax-list__next-page" data-request-uri="{f:uri.action(action: 'list', arguments: {currentPage: '{nextPage}', searchRequest: searchRequest.array}, additionalParams: {type: settings.ajaxListTypeNum, uid: content.uid})}">
                                <v:render.template file="EXT:nkc_base/Resources/Private/Partials/LoadMoreButton.html" />
                            </div>
                        </f:if>
                    </f:if>
                </div>
            </f:else>
        </f:if>
    </f:section>

</html>
