<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{settings.flexform.header}">
        <f:then>
            <h{settings.flexform.header_layout}>{settings.flexform.header}</h{settings.flexform.header_layout}>
        </f:then>
        <f:else>
            <h1>
                Institutionen
            </h1>
        </f:else>
    </f:if>

    <f:form controller="Institution" pluginName="institutionList" action="search" pageUid="{searchPid}" name="searchRequest"  object="{searchRequest}" method="get">

        <f:if condition="{filter.cities}">
            <label>Orte</label>
            <ul>
                <li data-caption="Orte" data-value="">Orte</li>
                <f:for each="{filter.cities}" as="city">
                    <li data-caption="{city.name}" data-value="{city.name}">
                        <a href="">{city.name}</a>
                    </li>
                </f:for>
                <li>
                    <f:form.textfield property="city" placeholder="PLZ / Ort" />
                    <f:form.button type="submit">Suchen</f:form.button>
                </li>
            </ul>
        </f:if>

        <f:if condition="{filter.categories}">
            <label>Rubrik</label>
            <f:form.hidden property="category" />
            <ul>
                <li data-caption="Rubrik" data-value="">Rubrik</li>
                <f:for each="{filter.categories}" as="category">
                    <li data-caption="{category.label}" data-value="{category.uid}">
                        <a href="">{category.label}</a>
                    </li>
                </f:for>
            </ul>
        </f:if>

        <f:form.textfield property="search" placeholder="Suchbegriff" />

        <f:form.button type="submit">Suchen</f:form.button>

    </f:form>

</html>
