<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{settings.flexform.header}">
        <f:then>
            <h{settings.flexform.header_layout}>{settings.flexform.header}</h{settings.flexform.header_layout}>
        </f:then>
        <f:else>
            <h1>
                Personen
            </h1>
        </f:else>
    </f:if>


    <f:form controller="Person" pluginName="personList" action="search" pageUid="{searchPid}" name="searchRequest"  object="{searchRequest}" method="get">

        <f:if condition="{filter.cities}">
            <label>Orte</label>
            <ul>
                <li data-caption="Orte" data-value="">Orte</li>
                <f:for each="{filter.cities}" as="city">
                    <li data-caption="{city.name}" data-value="{city.name}">
                        <a href="">{city.name}</a>
                    </li>
                </f:for>
                <li >
                    <form.texfield property="city" placeholder="PLZ / Ort" />
                    <button type="submit">Suchen</button>
                </li>
            </ul>
        </f:if>

        <f:form.textfield property="search" type="text" placeholder="Suchbegriff" />

        <button type="submit">Suchen</button>

    </f:form>

</html>
